@{
    ViewBag.Title = "FoodTruck-Lyon - FoodTruck équilibré";
}
<article id="articleEquilibre">
    <h2>Un Foodtruck c'est quoi ? Peut-on y manger équilibré ?</h2>
    <img src="/Content/article.jpg" alt="un food truck vegan" />
    <p>Tout droit venu des Etats Unis, le food truck est à son apogée dans les villes françaises. Tout le monde en parle, tout le monde y va. Mais que propose la carte de ces restaurants ambulants ? Peut-on y manger un repas équilibré ?</p>

    <p>La difficulté est de ne pas craquer pour des plats trop gras et trop salés. Bien qu’ils soient très alléchants et ne manquent pas de vous faire de l’œil. Il est important d’adopter un comportement raisonnable.</p>
    <p>
        Maïa Baudelaire, nutritionniste experte en comportement alimentaire et fondatrice de I Love My Diet Coach®, <a href="">www.maiabaudelaire.com</a>, premier site de coaching nutritionnel par téléphone remboursé par les mutuelles vous donne quelques conseils pour se faire plaisir sans culpabiliser.
    </p>
    <h4>Conseil n°1 : Comment bien choisir son food truck ?</h4>
    <p>
        Ils sont plus de 400 aujourd’hui à sillonner les grandes villes de France.  Cependant, beaucoup de personnes ont tendance à associer food truck à fast food mais détrompez vous ! De plus en plus de food trucks remettent au goût du jour les produits frais et locaux de bonne qualité&nbsp; le tout est de bien regarder leur carte ! C’est le cas par exemple de « La Camionnette Verte » à Perpignan ou du « Cantine California » à Paris qui ont décidé de proposer une carte entièrement BIO ! Ou encore du food truck « Les Bocaux » à Paris, commandé par le chef étoilé Marc Veyrat qui propose une cuisine saine avec des produits du terroir.
    </p>
    <h4>Conseil n°2 : Privilégiez les aliments sains</h4>
    <p>
        Ici il ne s’agit pas de manger uniquement des fruits et légumes ni de tomber dans l’excès en prenant le <i>BurgerXXL - double bacon - double cheese - sauce barbecue</i> ! Tout est une question d’équilibre. Vous pouvez par exemple orienter votre choix sur un bagel à base de saumon fumé, fromage frais et avocat ou un burger végétarien à base de steak de tofu, pousses de soja, légumes grillés et sauce moutarde miel. Le but étant d’éviter les aliments riches en graisses (frites, bacon, fromage, sauces…) et de privilégier ceux riches en protéines (viandes, poissons, légumes secs…) et en fibres (légumes, fruits,  pain complet…) qui sont beaucoup plus rassasiants.
    </p>
    <h4>Conseil n°3 : Comment bien choisir son menu ?</h4>
    <p>
        Les menus des food trucks comportent la plupart du temps l’habituelle formule : sandwich + accompagnement + dessert + boisson. Vous êtes tenté de tout prendre mais est-ce forcément nécessaire ?
    </p>
    <ul>
        <li><span>Oui</span>, si vous êtes grandement affamé. Dans ce cas privilégiez une petite salade au lieu des habituelles frites en accompagnement, optez pour de l’eau en boisson au lieu des sodas et pour des fruits ou un fromage blanc en dessert.</li>
        <li><span>Non</span>, si vous n’avez pas si faim que ça. Dans ce cas prenez une salade de votre composition ou uniquement un sandwich avec un dessert un peu plus gourmand comme un cheesecake et privilégiez toujours l’eau, qu’elle soit gazeuse ou plate.</li>
    </ul>

    <p>Vous pouvez maintenant @Html.ActionLink("profiter", "Index", "Article") des plaisirs du food truck en toute impunité !</p>
</article>