@{
    ViewBag.Title = "FoodTruck-Lyon - stationnements";
}
<article id="stationnement">
    <h2>Carte de nos stationnements</h2>
    <section>
        <aside>
            <table>
                <tr>
                    <td>Lundi</td>
                    <td>Parc de la Tête d'Or<i>, entrée sud-ouest</i></td>
                </tr>
                <tr>
                    <td>Mardi</td>
                    <td>La Part-Dieu<i>, Place Charles Béraudier</i></td>
                </tr>
                <tr>
                    <td>Mercredi</td>
                    <td>Place Bellecour<i>, angle sud</i></td>
                </tr>
                <tr>
                    <td>Jeudi</td>
                    <td>Parc de la Tête d'Or<i>, entrée sud-ouest</i></td>
                </tr>
                <tr>
                    <td>Vendredi</td>
                    <td>La Part-Dieu<i>, Place Charles Béraudier</i></td>
                </tr>
                <tr>
                    <td>Samedi</td>
                    <td>Place Bellecour<i>, angle sud</i></td>
                </tr>
                <tr>
                    <td>Dimanche</td>
                    <td>Parc de la Tête d'Or<i>, entrée sud-ouest</i></td>
                </tr>
            </table>
            <p>Horaires : 7h à 21h tous les jours.</p>
        </aside>
    </section>
</article>