@using System.Globalization
@using FoodTruck.DAL;
@{
    ViewBag.Title = "FoodTruck-Lyon - Modifier un article du catalogue";
    bool droitPage;
    if (Session["AdminSuper"] != null && (bool)Session["AdminSuper"] || Session["AdminArticle"] != null && (bool)Session["AdminArticle"])
    {
        droitPage = true;
    }
    else
    {
        droitPage = false;
    }
}
<h2>Modifier un article</h2>
<dl class="dl-horizontal"></dl>

<div class="adminArticle">
    @if (!droitPage)
    {
        <div><p class="messageErreur">Vous ne pouvez pas modifier d'article du catalogue !</p></div>
    }
    else
    {
        if ((string)TempData["Erreur"] != "")
        {
            <div class="messageErreur">@TempData["Erreur"]</div>
        }
        if ((string)TempData["ModifOK"] != "")
        {
            <div class="messageInfo">@TempData["ModifOK"]</div>
        }
    }
</div>