@using System.Globalization
@using FoodTruck.DAL;
@{
    ViewBag.Title = "FoodTruck-Lyon - Modifier un article du catalogue";
}
    <h2>Modifier un article</h2>
<div>
    <dl class="dl-horizontal"></dl>
</div>

<div class="adminArticle">
    @if (!(bool)TempData["DroitPage"])
    {
        <div><p class="messageErreur">Vous ne pouvez pas modifier d'article du catalogue !</p></div>
    }
    else
    {
        if ((string)TempData["Erreur"] != "")
        {
            <div class="messageErreur">@TempData["Erreur"]</div>
        }
        if ((string)TempData["ModifOK"] != "")
        {
            <div class="messageInfo">@TempData["ModifOK"]</div>
        }
    }
</div>