@model FoodTruck.Models.Utilisateur

@{
    ViewBag.Title = "FoodTruck-Lyon - Connexion";
}

<h2>Détails</h2>

<div>
    <h4>Utilisateur</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
    <ul>
        <li>@ViewBag.lUtilisateur.Nom</li>
        <li>@ViewBag.lUtilisateur.Prenom </li>
        <li>@ViewBag.lUtilisateur.Email</li>
        <li>@ViewBag.lUtilisateur.Telephone</li> 
    </ul>
