@using FoodTruck.ViewModels
@{
    ViewBag.Title = "Vos commandes";
}
@model ListeCommandesViewModel

    <div class="compte">
        <h2>Votre Compte</h2>
        @Html.Action("Liste", "Commande", new { id = "toutes" })
    </div>