@model FoodTruck.Models.Utilisateur

@{
    ViewBag.Title = "FoodTruckLyon - Déconnexion";
}
<div class="compte">
    <h2>Déconnexion</h2>

    <dl class="dl-horizontal"></dl>
    <div>
        <h4>Utilisateur déconnecté</h4>
    </div>
</div>
