@{
    ViewBag.Title = "Obtenir les droits admin";
}

<div class="principalQuandPanierLateralPresent">
    <h2>Obtenir les droits administrateur</h2>

    @if (TempData["lienKo"] != null)
    {
        <div class="messageErreur">@TempData["lienKo"]</div>
    }
    else if (TempData["lienOk"] != null)
    {
    <div class="messageInfo">@TempData["lienOk"]</div>
    }
</div>