@model FoodTruck.Models.Utilisateur

@{
    ViewBag.Title = "FoodTruckLyon - Votre profil";
}

<h2>Votre profil</h2>
<div>
    <dl class="dl-horizontal">
    </dl>
</div>
    <ul>
        <li>@Model.Nom</li>
        <li>@Model.Prenom </li>
        <li>@Model.Email</li>
        <li>@Model.Telephone</li> 
    </ul>
