@using FoodTruck.Models
@{
    ViewBag.Title = "RestaurerPanier";
    Utilisateur utilisateur = (Utilisateur)Session["Utilisateur"];
}

<h2>Restaurer Panier</h2>
<dl class="dl-horizontal"></dl>

@if (utilisateur != null)
{
    <ul>
        <li>@utilisateur.Nom</li>
        <li>@utilisateur.Prenom </li>
        <li>@utilisateur.Email</li>
        <li>@utilisateur.Telephone</li>
    </ul>
}

@if (TempData["DemandeRestaurationPanier"] != null)
{
    <p>Des articles sont présent dans an ancien panier.</p>
    <p>Voulez-vous les récupérer ?</p>
    using (Html.BeginForm("RestaurerPanier", "Compte", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "ccform connexion" }))
    {
        <div class="ccfield-prepend">
            <input class="ccformfield" type="radio" name="reponse" value="Oui" id="Oui" />
            <label class="ccformfield">Oui</label>
            <input class="ccformfield" type="radio" name="reponse" value="Non" id="Non" />
            <label class="ccformfield">Non</label>
        </div>
        <div class="ccfield-prepend">
            <input class="ccbtn" type="submit" value="Valider">
        </div>
    }
}