@{
    ViewBag.Title = "FoodTruckLyon - Modifier un article du catalogue";
}
<h2>Modifier un article</h2>
<dl class="dl-horizontal"></dl>

<div class="adminArticle">
    @if ((string)TempData["Erreur"] != "")
    {
    <div class="messageErreur">@TempData["Erreur"]</div>
    }
    @if ((string)TempData["ModifOK"] != "")
    {
    <div class="messageInfo">@TempData["ModifOK"]</div>
    }
</div>