@using System.Globalization
@using FoodTruck.ViewModels
@using System.Configuration;
@{string dossierImagesArticles = ConfigurationManager.AppSettings["PathImagesArticles"]; }
@model HomeViewModel
@{
    ViewBag.Title = "FoodTruck-Lyon";
}

<div class="carouselContainer">
    <img src="@dossierImagesArticles/food-truck.jpg" alt="Notre Foodtruck" style="width:90%;">
</div>

<h3><a href="../Article">Voir notre carte</a></h3>
<hr />
<h3>3 de nos produits stars !</h3>
<section id="bestsellers">
    @foreach (var article in Model.ArticlesTopRandom)
    {
        <div>
            <a href="/Article/@article.NomPourUrl">
                <img src="@dossierImagesArticles/@article.Article.Image" alt="@article.Article.Nom" />
            </a>
            <div class="articleDescription">
                <a href="/Article/@article.NomPourUrl">
                    <p>@article.Article.Nom</p><p>@article.Article.Prix.ToString("C2", new CultureInfo("fr-FR"))</p>
                </a>
            </div>
            @using (Html.BeginForm("Ajouter", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "prix_submit" }))
            {
                <input name="nom" value="@article.Article.Nom" hidden>
                <button class="ajoutPanier" type="submit">Ajouter au panier</button>
            }
        </div>
    }
</section>

