@using System.Globalization
@using FoodTruck.ViewModels
@model HomeViewModel
@{
    ViewBag.Title = "FoodTruck-Lyon";
}


<h3><a href="../Article">Voir notre carte</a></h3>
<hr />
<h3>un produit star :</h3>
<section id="bestsellers">
    @{
        var article = Model.ArticlesTopRandom[0];

        <div>
            <a href="/Article/@article.NomPourUrl">
                <img src="/Content/Images/@article.Article.Image" alt="@article.Article.Nom" />
            </a>
            <div class="articleDescription">
                <a href="/Article/@article.NomPourUrl">
                    <p>@article.Article.Nom</p><p>@article.Article.Prix.ToString("C2", new CultureInfo("fr-FR"))</p>
                </a>
            </div>
            @using (Html.BeginForm("Ajouter", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "prix_submit" }))
            {
                <input name="nom" value="@article.Article.Nom" hidden>
                <button class="ajoutPanier" type="submit">Ajouter au panier</button>
            }
        </div>
    }
</section>

